@model BuiesnesLogic.Entities.Article
@{
    ViewBag.Title = Model.Title;
}

<link rel="stylesheet" href="~/css/articleStyle.css" />
<div class="article-container">
    @if (Model.Image != null)
    {
        <div class="article-image">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Article Image" />
        </div>
    }

    <div class="article-header">
        <h1>@Model.Title</h1>
        <h2>@Model.SubTitle</h2>
        <p class="post-date">Posted on @Model.PostDate.ToString("MMMM dd, yyyy") by @Model.User.UserName</p>
    </div>

    <div id="editorjs"></div>

    <div class="comments-section">
        <h3>Comments:</h3>
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <p class="comment-author">@comment.User.UserName said:</p>
                <p class="comment-content">@comment.Content</p>
                <p class="comment-date">@comment.PostDate.ToString("MMMM dd, yyyy")</p>
            </div>
        }

        <div class="add-comment-section">
            <h3>Leave a Comment:</h3>
            <form action="@Url.Action("PostComment", "Article")" method="post">
                <input type="hidden" name="ArticleId" value="@Model.Id" />
                <div class="form-group">
                    <label for="commentContent">Your Comment</label>
                    <textarea id="commentContent" name="Content" class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
        </div>
    </div>
</div>
<script>
    async function displayEditorContent() {
        const editorContent = @Html.Raw(Model.Content);

        const editor = new EditorJS({
            holder: 'editorjs',
            readOnly: true,
            tools: {
                header: {
                    class: Header,
                    inlineToolbar: true
                },
                image: {
                    class: SimpleImage,
                    inlineToolbar: true
                },
                code: {
                    class: CodeTool,
                    inlineToolbar: true
                },
                
            },
            data: editorContent
        });
    }

    // Call the function to display the content
    displayEditorContent();
</script>
