<link rel="stylesheet" href="~/css/Postes.css" />
@model IEnumerable<BuiesnesLogic.Entities.Article>
<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Articles</h1>

		@foreach (var article in Model)
        {
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(article.Image)}")" alt="@article.Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#">@article.Title</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="@article.PostDate">
                            <i class="fas fa-calendar-alt mr-2"></i>@article.PostDate.ToString("ddd, MMM dd'\\t\\h' yyyy")
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">@article.SubTitle</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item play blue">
                            @* <a href="#"><i class="fas fa-play mr-2"></i>See More</a> *@
                            <a href="@Url.Action("GetPost", "Article", new { id = article.Id })"><i class="fas fa-play mr-2"></i>See More</a>
                        </li>
                    </ul>
                </div>
            </article>
        }
    </div>
</section>


